<style>
    .nav-lang{
        width: 200px
    }

    #todo_tasks>div {
        height: 400px;
    }
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="home" data-emit>Todo Demo</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a id="menuTask" data-emit data-i18n="todo.taskTable"></a></li>
        </ul>
        <form class="navbar-form navbar-right nav-lang">
            <div data-field="select" id="lang" data-bind="lang" data-emit="change">
                <select>
                    <option value="en-US">English</option>
                    <option value="fr-FR">Français</option>
                </select>
            </div>
        </form>
      </div>
    </div>
</nav>
<div id="#todo_contents">

</div>
<div id="#todo_tasks">

</div>