<style>
#todo_app {
  height: 500px;
  border: 1px solid gray;
  padding: 10px
}  
</style>
<h1>What is VeloxJS ?</h1>

<p>
  VeloxJS aims to be both a full JS framework and a set of independents tools. 
  You can use it as a framework to get a full software architecture or you can only take the parts that you want in its features.
</p>
<p>
  You can get more details in my full explaination about <a href="#why">why I wrote a JS framework</a>
</p> 

<h1>Demo</h1>

<p>
  The usual TODO app demo demonstrate a some interresting feature of VeloxJS :
</p> 
<ul>
  <li>The welcome view do some real world application stuf such as : 
    <ul>
      <li>2 level nested repeating subviews for projects and task</li>
      <li>CSS styling rules</li>
      <li>Custom JS to handle drag&drop</li>
      <li>Popup for quick task creation</li>
    </ul>
  </li>
  <li>The main view with its menu and language switcher</li>
  <li>The task view with a classical CRUD grid/form UI</li>
</ul>
<div id="#todo_app"></div>