<script>
    (function example_hello(){
        new VeloxWebView("examples", "hello", {container: view.EL.example_hello}).open();
    })() ;
    

    (function example_hello_binding(){
        var v = new VeloxWebView( "examples", "hello_binding", {container: view.EL.example_hello_binding}) ;
        v.open({ color: "red", name: "VeloxJS" }) ; 
    })() ;


    (function example_hello_event(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_event", //name of the HTML view file
            {container: view.EL.example_hello_event} 
        ) ;
        //open the view and give it some data to render
        v.open({
            color: "red",
            name: "VeloxJS"
        }) ;
        //listen for changeData event
        v.on("changeData", function(){
            v.render({
                color: "blue",
                name: "Event !"
            })
        }) ;
    })() ;
    
    (function example_hello_input(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_input", //name of the HTML view file
            {container: view.EL.example_hello_input} 
        ) ;
        //open the view and give it some data to render
        var data = {
            color: "red",
            name: "VeloxJS"
        } ;
        v.open(data) ;
        
        v.on("go", function(){
            v.updateData() ;
            v.render()
        }) ;
    })() ;

    (function example_hello_complex(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_complex", //name of the HTML view file
            {container: view.EL.example_hello_complex} 
        ) ;
        //open the view and give it some data to render
        var data = {
            title: {color: "green", label: "Say hello todo list"},
            todo: [
                {name: "Bob"},
                {name: "Alice"}
                ],
            done: [
                {name: "Peter"},
                {name: "John", cancelled: true}
            ]
        } ;
        v.open(data) ;
    })() ;
    
    (function example_hello_complex_event(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_complex_event", //name of the HTML view file
            {container: view.EL.example_hello_complex_event} 
        ) ;
        var data = {
            todo: [
                {name: "Bob"},
                {name: "Alice"},
                {name: "Peter"},
                {name: "John"}
                ],
            done: []
        } ;
        v.open(data) ;

        v.on("said", function(ev){
            //ev.data.currentData contains the object bound to the view occurence on which we clicked
            var clickedLine = ev.data.currentData ;
            clickedLine.status = 'said' ;
            data.done.push(clickedLine) ;
            data.todo.splice(data.todo.indexOf(clickedLine), 1) ;
            v.render() ;
        }) ;
        v.on("missed", function(ev){
            //ev.data.currentData contains the object bound to the view occurence on which we clicked
            var clickedLine = ev.data.currentData ;
            clickedLine.status = 'missed' ;
            data.done.push(clickedLine) ;
            data.todo.splice(data.todo.indexOf(clickedLine), 1) ;
            v.render() ;
        }) ;
        v.on("retry", function(ev){
            //ev.data.currentData contains the object bound to the view occurence on which we clicked
            var clickedLine = ev.data.currentData ;
            clickedLine.status = 'todo' ;
            data.todo.push(clickedLine) ;
            data.done.splice(data.done.indexOf(clickedLine), 1) ;
            v.render() ;
        }) ;
    })() ;

    (function example_hello_scripting(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_scripting", //name of the HTML view file
            {container: view.EL.example_hello_scripting} 
        ) ;
        v.open() ;
    })() ;
    
    (function example_hello_styling(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_styling", //name of the HTML view file
            {container: view.EL.example_hello_styling} 
        ) ;
        v.open() ;
    })() ;
    
    (function example_hello_styling2(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_styling2", //name of the HTML view file
            {container: view.EL.example_hello_styling2} 
        ) ;
        v.open() ;
    })() ;

    (function example_hello_longtask(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_longtask", //name of the HTML view file
            {container: view.EL.example_hello_longtask} 
        ) ;
        
        //v.error = function(message) {window.alert(message); } 
        v.open() ;
        v.on("startCb", function(){
            //start a long task in callback style
            v.longTask(function(done){
                setTimeout(function(){
                    done() ; //call done when finished
                }, 5000) ;
            }, "Coffee time!") ;
        }) ;
        v.on("startProm", function(){
            //start a long task in promise style
            v.longTask(new Promise((resolve, reject)=>{
                setTimeout(function(){
                    resolve() ; //resolve on finished
                }, 5000) ;
            })) ;
        }) ;
        v.on("startCbErr", function(){
            //start a long task in callback style
            v.longTask(function(done){
                setTimeout(function(){
                    //by pass dialog extension
                    VeloxWebView.real_error =  VeloxWebView.error ;
                    VeloxWebView.error = function(message) {window.alert(message); } 
                    done("Dear user, we are very sorry but some solar disturbances reach our server and you experience a very unlikely error") ;
                    VeloxWebView.error =  VeloxWebView.real_error ;
                }, 2000) ;
            }) ;
        }) ;
        v.on("startPromErr", function(){
            //start a long task in promise style
            v.longTask(new Promise((resolve, reject)=>{
                setTimeout(function(){
                    //by pass dialog extension
                    VeloxWebView.real_error =  VeloxWebView.error ;
                    VeloxWebView.error = function(message) {window.alert(message); } 
                    reject("Due to alien invasion in our office, the software decide by itself to create random errors") ;
                    setTimeout(function(){
                        VeloxWebView.error =  VeloxWebView.real_error ;
                    }, 100) ;
                }, 2000) ;
            })) ;
        }) ;
    })() ;
    
    (function example_hello_dialog(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_dialog", //name of the HTML view file
            {container: view.EL.example_hello_dialog} 
        ) ;
        v.open() ;
        v.on("info", function(){
            v.info("Trying to say something clever") ;
        }) ;
        v.on("error", function(){
            VeloxWebView.error("No clue how you got in a so bad position !") ;
        }) ;
        v.on("confirm", function(){
            v.confirm("Are you sure that you want to press on the red button ?", 
                function(yes){
                    if(yes){
                        v.info("Boom.") ;
                    }
                }) ;
        }) ;
        v.on("confirmCustom", function(){
            v.confirm("Are you sure ?", 
            {
                yesLabel: "Yes, we can",
                noLabel: "No, never !"
            },
            function(yes){
                if(yes){
                    v.info("Boom. Again.") ;
                }
            }) ;
        }) ;
    })() ;
    
    (function example_hello_popup(){
        var v = new VeloxWebView(
        "examples", //folder in which the HTML view file is located
        "hello_popup" //name of the HTML view file
        ) ;
        
        view.EL.example_open_popup.addEventListener("click", function(){
            v.openInPopup({
                modal: true,
                title : "Popup example",
                width: 500,
                height: 300,
                closeWithEsc: true
            }) ;
        }) ;
    })() ;
    
    (function example_hello_popup2(){
        view.EL.example_open_popup2.addEventListener("click", function(){
            var v = new VeloxWebView(
                {html: '<p>KEEPER ask What is your favorite color?</p><button id="blue" data-emit>Blue</button><button id="yellow" data-emit>Blue. No yel--</button>'}
                ) ;
            v.openInPopup({width: 200, height: 150}) ;
            v.on("blue", function(){
                v.close() ;
                v.info("Right. Off you go.") ;
            }) ;
            v.on("yellow", function(){
                v.close() ;
                v.info("Auuuuuuuugh!") ;
            }) ;
        }) ;
    })() ;
    
    (function example_hello_i18n(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_i18n", //name of the HTML view file
            {container: view.EL.example_hello_i18n} 
        ) ;
        var data = {
            //get the current lang
            lang: VeloxWebView.i18n.getLang() 
        } ;
        v.open(data) ;
        v.on("lang", function(){
            //get the lang chosen by user
            v.updateData(); 
            //set the lang update the view automatically
            VeloxWebView.i18n.setLang(data.lang) ; 
            //you can call VeloxWebView.tr or view.tr to translate a string
            VeloxWebView.info(VeloxWebView.tr("hello.langChanged", {chosenLang : data.lang})) ;
        }) ;
    })() ;
    
    (function example_hello_fields(){
        window.decorator = function(){} ;
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_fields", //name of the HTML view file
            {container: view.EL.example_hello_fields} 
        ) ;
        v.open(function(){
            window.decorator = function(element, fieldType){
                window.bootstrap3decorator(element, fieldType) ;
            }
            var v = new VeloxWebView(
                "examples", //folder in which the HTML view file is located
                "hello_fields_deco", //name of the HTML view file
                {container: view.EL.example_hello_fields_deco} 
            ) ;
            v.open() ;

            (function example_hello_schema(){
                
                                
                var v = new VeloxWebView(
                    "examples", //folder in which the HTML view file is located
                    "hello_schema", //name of the HTML view file
                    {container: view.EL.example_hello_schema} 
                ) ;
                var persons = [
                    { name: "Bob", status: "hello_todo"},
                    { name: "Alice", status: "hello_done"}
                ]
                v.open({currentPerson : persons[0], persons: persons}) ;
            })() ;
        }) ;
    })() ;
    

    VeloxWebView.registerExtension({
        name:"stars",
        init: function(){
            var view = this ;
            view.elementsHavingAttribute("data-stars").forEach(function(el){
                var starsNumber = parseInt(el.getAttribute("data-stars"), 10) ;
                var stars = [] ;
                for(var i=0; i<5; i++){
                    if(i<starsNumber){
                        stars.push('<i class="fa fa-star"></i>') ;
                    }else{
                        stars.push('<i class="fa fa-star-o"></i>') ;
                    }
                }
                el.innerHTML = stars.join(" ") ;
            }) ;
        }
    }) ;

    (function example_hello_stars(){
        var v = new VeloxWebView(
            "examples", //folder in which the HTML view file is located
            "hello_stars", //name of the HTML view file
            {container: view.EL.example_hello_stars} 
        ) ;
        v.open() ;
    })() ;
    
    
    
</script>
<h1>View</h1>
<h2>Introduction</h2>
<p>
    VeloxJS view rely on the following pillars :
    <ul>
        <li>Views are simple HTML/CSS files</li>
        <li>Views must : render data, get user input and emit event on user interactions</li>
        <li>Views must not : know the controller (no onClick="myController.myButtonClicked()"), 
            do something without beeing explicitelly called (double data-binding), 
            control the data (this is the role of controller)
        </li>
        <li>It must give access to high level feature through extension (i18n, field render : date, mask, grid, ..., automatic field creation from schema definition : define once, use everywhere)</li>
    </ul>
</p>

<h2>Examples</h2>

<h3 data-anchor="hello">Dumb Hello World</h3>
<p>This very basic example illustrate the fact that views are just pieces of HTML loaded in a container</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello.html</div><code class="html"><span>Hello World!</span></code></pre>
        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello", //name of the HTML view file
    {container: "example_hello"} //optional container id to render
) ;
view.open() ; //open the view now !</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello">
        </div>
    </div>
</div>

<h3 data-anchor="binding">Simple data binding</h3>
<p>This example illustrate how we can do some data binding</p>
<p>Use the mustache annotation to replace in attributes and data-bind attribute to replace the content</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_binding.html</div><code class="html"><span style="color: {color}">
    Hello <span data-bind="name"></span>
</span></code></pre>
        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_binding", //name of the HTML view file
    {container: "example_hello_binding"} 
) ;
//open the view and give it some data to render
view.open({
    color: "red",
    name: "VeloxJS"
}) ; </code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello_binding">
        </div>
    </div>
</div>


<h3 data-anchor="event">Events and re-render</h3>
<p>This example illustrate how we handle event and do re-render</p>
<p>The render will only affect element that are bound to something and will only affect the bound attribute or content</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_event.html</div><code class="html"><span style="color: {color}">
    Hello <span data-bind="name"></span>
</span>
<!-- add a data-emit attribute will automatically listen for click on the button and emit and event with button id -->
<button id="changeData" data-emit>Click me!</button></code></pre>
        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_event", //name of the HTML view file
    {container: "example_hello_event"} 
) ;
//open the view and give it some data to render
view.open({
    color: "red",
    name: "VeloxJS"
}) ;
//listen for changeData event
view.on("changeData", function(){
    view.render({
        color: "blue",
        name: "Event !"
    })
}) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello_event">
        </div>
    </div>
</div>

<h3 data-anchor="binding-again">Data binding again</h3>
<p>This example illustrate how to get user input</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_input.html</div><code class="html"><span style="color: {color}">
    Hello <span data-bind="name"></span>
</span><br />
<label>Change the name value</label>
<!-- bind a text field to name property -->
<input type="text" data-bind="name" />
<button id="go" data-emit>Go !</button></code></pre>
        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_input", //name of the HTML view file
    {container: "example_hello_input"} 
) ;
//open the view and give it some data to render
var data = {
    color: "red",
    name: "VeloxJS"
} ;
view.open(data) ;
//listen for go event
view.on("go", function(){
    //update the data object from view
    view.updateData() ;
    //re render the view
    view.render()
}) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello_input">
        </div>
    </div>
</div>

<h3 data-anchor="complex">Complex data binding</h3>
<p>We go now to more complex data binding with loop and nested view</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_complex.html</div><code class="html"><!-- Nest an header view -->
<div data-view="hello_complex_title" data-bind="title"></div>
<label>Items to do</label>
<ul>
    <!-- Repeat a view for all element in todo array -->
    <li data-bind="todo[]" data-view="hello_complex_one_item"></li>
</ul>
<label>Item done</label>
<ul>
    <!-- Repeat an HTML block for all  -->
    <li data-bind="done[]">
        Hello <span data-bind="name"></span> 
        <!-- Show only if the property cancelled is not false/null/undefined -->
        <span data-show-if="cancelled"> <em>(Cancelled)</em></span>
    </li>
</ul></code></pre>

<pre data-dont-process><div class="code-legend">examples/hello_complex_title.html</div><code class="html"><h3 style="color: {color}" data-bind="label"></h3></code></pre>

<pre data-dont-process><div class="code-legend">examples/hello_complex_one_item.html</div><code class="html">You must say hello to : <span data-bind="name"></span></code></pre>

        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_complex", //name of the HTML view file
    {container: "example_hello_complex"} 
) ;
//open the view and give it some data to render
var data = {
    title: {color: "green", label: "Say hello todo list"},
    todo: [
        {name: "Bob"},
        {name: "Alice"}
        ],
    done: [
        {name: "Peter"},
        {name: "John", cancelled: true}
    ]
} ;
view.open(data) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello_complex">
        </div>
    </div>
</div>

<h3 data-anchor="complex-event">Events on complex binding</h3>
<p>This example shows how to handle event on nested repeating views</p>
<p>It also demonstrate more of show-if and hide-if instruction</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_complex_event.html</div><code class="html"><label>Items to do</label>
<ul data-show-if="todo">
    <!-- Show if there is something in todo -->
    <li data-bind="todo[]" data-view="hello_complex_one_item_event"></li>
</ul>

<div data-hide-if="todo">
    <!-- Hide if there is something in todo -->
    Nothing to do
</div>
<div data-show-if="done">
    <!-- Show if there is something in done -->
    <label>Item done</label>
    <ul>
        <li data-bind="done[]">
            Hello <span data-bind="name"></span> 
            <!-- Show only if the property status equals to missed -->
            <span data-show-if="status === 'missed'"> 
                <em>(Missed)</em>
                <button id="retry" data-emit>Retry</button>
            </span>
        </li>
    </ul>
</div></code></pre>

<pre data-dont-process><div class="code-legend">examples/hello_complex_one_item_event.html</div><code class="html">You must say hello to : 
<span data-bind="name"></span>
<button id="said" data-emit>I said hello</button>
<button id="missed" data-emit>We missed</button>
</code></pre>

        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_complex_event", //name of the HTML view file
    {container: "example_hello_complex_event"} 
) ;
var data = {
    todo: [
        {name: "Bob"},
        {name: "Alice"},
        {name: "Peter"},
        {name: "John"}
        ],
    done: []
} ;
view.open(data) ;
view.on("said", function(ev){
    //ev.data.currentData contains the object bound to the view occurence on which we clicked
    var clickedLine = ev.data.currentData ;
    clickedLine.status = 'said' ;
    data.done.push(clickedLine) ;
    data.todo.splice(data.todo.indexOf(clickedLine), 1) ;
    view.render() ;
}) ;
view.on("missed", function(ev){
    //ev.data.currentData contains the object bound to the view occurence on which we clicked
    var clickedLine = ev.data.currentData ;
    clickedLine.status = 'missed' ;
    data.done.push(clickedLine) ;
    data.todo.splice(data.todo.indexOf(clickedLine), 1) ;
    view.render() ;
}) ;
view.on("retry", function(ev){
    //ev.data.currentData contains the object bound to the view occurence on which we clicked
    var clickedLine = ev.data.currentData ;
    clickedLine.status = 'todo' ;
    data.todo.push(clickedLine) ;
    data.done.splice(data.done.indexOf(clickedLine), 1) ;
    view.render() ;
}) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello_complex_event">
        </div>
    </div>
</div>
<h3 data-anchor="scripting">View scripting</h3>
<p>A view is HTML and CSS but you may need a bit of scripting.</p>
<p>For example, you want to use <a href="https://safi.me.uk/typewriterjs/" target="_blank">Typewriter</a> lib in your view</p>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_scripting.html</div><code class="html"><script>
//this code is executed after view initialization done. 
//DOM element are accessible

//the view instance is accessible with "view" variable

//the only thing that change with normal javascript 
//is the way to get element by id.
//because a view can be re-use many time in the same page, 
//the id of element is modified
//to ensure unicity in the document. To get an element of 
//this view by its id, the view 
//gives you the view.EL collection

//get HTMLElement having id typehere in this view
var typehere = view.EL.typehere ;

//Use whatever JS lib you want the same way 
//as you write normal JS.
//No special integration is needed
var typewriter = new Typewriter(typehere, {
    loop: true
});

typewriter.typeString('Hello VeloxJS!')
.pauseFor(2500)
.deleteChars(8)
.typeString('World!')
.pauseFor(2500)
.start();
</script>
<div id="typehere"></div></code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_scripting", //name of the HTML view file
    {container: "example_hello_scripting"} 
) ;
view.open() ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_scripting">
            </div>
        </div>
    </div>

<h3 data-anchor="styling">View styling</h3>
<p>This example show you how to make your view more colorful</p>
<p>The first way to have some CSS to your view is to have style block in the HTML file</p>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_styling.html</div><code class="html"><style>
.blue { background: blue ; color: white}
.red { background: red ; color: white}
</style>
<div class="blue">Hello</div>
<div class="red">World</div>
</code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_styling", //name of the HTML view file
    {container: "example_hello_styling"} 
) ;
view.open() ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_styling">
            </div>
        </div>
    </div>

<p>If you have more than a few CSS rules, you can link to an external file.</p>
<p>The file path is relative to your view folder</p>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_styling2.html</div><code class="html">
<style data-file="hello_styling2.css"></style>
<div class="green">Hello</div>
<div class="yellow">World</div>
</code></pre>
<pre data-dont-process><div class="code-legend">examples/hello_styling2.css</div><code class="css">
.green { background: green ; color: white}
.yellow { background: yellow ; color: black}
        </code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_styling2", //name of the HTML view file
    {container: "example_hello_styling2"} 
) ;
view.open() ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_styling2">
            </div>
        </div>
    </div>

<h3 data-anchor="long">Long task</h3>
<p>It will come a time when you will need to ask user to wait until something running asynchroneously is done</p>
<p>This example demonstrate the long task pattern</p>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_longtask.html</div><code class="html">
<button id="startCb" data-emit>Start (callback style)</button>
<button id="startProm" data-emit>Start (promise style)</button>
<button id="startCbErr" data-emit>Start and fail (callback style)</button>
<button id="startPromErr" data-emit>Start and fail (promise style)</button>
</code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_longtask", //name of the HTML view file
    {container: "example_hello_longtask"} 
) ;
view.open() ;
view.on("startCb", function(){
    //start a long task in callback style
    view.longTask(function(done){
        setTimeout(function(){
            done() ; //call done when finished
        }, 5000) ;
    }, 
    "Coffee time!" //optional wait message
    ) ;
}) ;
view.on("startProm", function(){
    //start a long task in promise style
    view.longTask(new Promise((resolve, reject)=>{
        setTimeout(function(){
            resolve() ; //resolve on finished
        }, 5000) ;
    })) ;
}) ;
view.on("startCbErr", function(){
    //start a long task in callback style
    view.longTask(function(done){
        setTimeout(function(){
            done("Dear user, we are very sorry but some solar disturbances reach our server and you experience a very unlikely error") ;
        }, 2000) ;
    }) ;
}) ;
view.on("startPromErr", function(){
    //start a long task in promise style
    view.longTask(new Promise((resolve, reject)=>{
        setTimeout(function(){
            reject("Due to alien invasion in our office, the software decide by itself to create random errors") ;
        }, 2000) ;
    })) ;
}) ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_longtask">
            </div>
        </div>
    </div>

<h2>Extensions</h2>
<p>Extensions came to add more hight level features to the view system.</p>
<p>These features are put in extensions for 2 reasons : 
<ul>
    <li>To keep the view system by itself as light as possible and with 0 third party dependency</li>
    <li>Extensions came with third party dependencies that may or may not fit your choices. We like you to be free to use what you want</li>
</ul>
</p>

<h3 data-anchor="dialog-extension">Dialog extension</h3>
<p>The dialog extension gives you classical info/error/confirm dialogs.</p> 
<p>The extension use <a href="http://w2ui.com" target="_blank">w2ui</a></p>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_dialog.html</div><code class="html">
<button id="info" data-emit>Info</button>
<button id="error" data-emit>Error</button>
<button id="confirm" data-emit>Confirm</button>
<button id="confirmCustom" data-emit>Confirm (custom)</button>
</code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_dialog", //name of the HTML view file
    {container: "example_hello_dialog"} 
) ;
view.open() ;
view.on("info", function(){
    view.info("Trying to say something clever") ;
}) ;
view.on("error", function(){
    //these functions are available both on instance and globally
    VeloxWebView.error("No clue how you got in a so bad position !") ;
}) ;
view.on("confirm", function(){
    view.confirm("Are you sure that you want to press on the red button ?", 
        function(yes){
            if(yes){
                view.info("Boom.") ;
            }
        }) ;
}) ;
view.on("confirmCustom", function(){
    view.confirm("Are you sure ?", 
    {
        yesLabel: "Yes, we can",
        noLabel: "No, never !"
    },
    function(yes){
        if(yes){
            view.info("Boom. Again.") ;
        }
    }) ;
}) ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_dialog">
            </div>
        </div>
    </div>

<p>The dialog also give you the possibility to open a view inside a popup</p> 
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_popup.html</div><code class="html">
<h1>Look! I am in a popup</h1>
</code></pre>

        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
"examples", //folder in which the HTML view file is located
"hello_popup" //name of the HTML view file
) ;

document.getElementById("example_open_popup").addEventListener("click", function(){
    view.openInPopup({
        modal: true,
        title : "Popup example",
        width: 500,
        height: 300,
        closeWithEsc: true
    }) ;
}) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button id="example_open_popup">Click to open view in popup</button>
    </div>
</div>

<p>You can define view inline, this is particulary useful with popup for small custom dialogs</p> 
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">

document.getElementById("example_open_popup2").addEventListener("click", function(){
    var view = new VeloxWebView(
        {html: '<p>KEEPER ask What is your favorite color?</p><button id="blue" data-emit>Blue</button><button id="yellow" data-emit>Blue. No yel--</button>'}
        ) ;
    view.openInPopup({width: 200, height: 150}) ;
    view.on("blue", function(){
        view.close() ;
        view.info("Right. Off you go.") ;
    }) ;
    view.on("yellow", function(){
        view.close() ;
        view.info("Auuuuuuuugh!") ;
    }) ;
}) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button id="example_open_popup2">Click to open view in popup</button>
    </div>
</div>

<h3 data-anchor="i18n">I18n extension</h3>
<p>The i18n extension aims to handle translation in views</p>
<p>This extension use <a href="https://www.i18next.com/">i18next</a></p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <pre data-dont-process><div class="code-legend">examples/hello_i18n.html</div><code class="html">
<p data-i18n="hello.world"></p>
<select id="lang" data-bind="lang" data-emit>
    <option value="en-US">English</option>
    <option value="fr-FR">Français</option>
</select>
</code></pre>
<pre data-dont-process><div class="code-legend">locales/en-US.json</div><code class="javascript">
{
    "hello": {
        "world": "Hello World",
        "langChanged": "You choose {{chosenLang}}"
    }
}
</code></pre>  
<pre data-dont-process><div class="code-legend">locales/fr-FR.json</div><code class="javascript">
{
    "hello": {
        "world": "Bonjour tout le monde",
        "langChanged": "Vous avez choisi {{chosenLang}}"
    }
}
</code></pre>  
        <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
"examples", //folder in which the HTML view file is located
"hello_i18n", //name of the HTML view file
{container: "example_hello_i18n"} 
) ;
var data = {
    //get the current lang
    lang: VeloxWebView.i18n.getLang() 
} ;
view.open(data) ;
view.on("lang", function(){
    //get the lang chosen by user
    view.updateData(); 
    //set the lang update the view automatically
    VeloxWebView.i18n.setLang(data.lang) ; 
    //you can call VeloxWebView.tr or view.tr to translate a string
    VeloxWebView.info(VeloxWebView.tr("hello.langChanged", {chosenLang : data.lang})) ;
}) ;
</code></pre>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="example-result" id="example_hello_i18n">
        </div>
    </div>
</div>

<h3 data-anchor="field">Field extension</h3>
<p>In web application, we often need input field of various type of data</p>
<p>This example show you how the field extension helps you to get hight quality fields in your forms</p>
<p>This extension uses <a href="https://github.com/RobinHerbots/Inputmask" target="_blank">Inputmask</a>, 
    <a href="http://numbrojs.com/" target="_blank">numbro</a> (only for old navigator), 
    <a href="https://github.com/MikeMcl/decimal.js/" target="_blank">decimal.js</a>, 
    <a href="https://chmln.github.io/flatpickr/" target="_blank">flatpickr</a>, 
    <a href="https://momentjs.com/" target="_blank">moment.js</a> (fetch language data only, not the whole lib), 
    <a href="https://selectize.github.io/selectize.js/" target="_blank">selectize</a>, 
    <a href="http://w2ui.com" target="_blank">w2ui</a>, 
    <a href="https://pdfobject.com/" target="_blank">PDFObject</a> and 
    <a href="https://mozilla.github.io/pdf.js/" target="_blank">PDF.js</a> (only for browser not supporting embed PDF)</p>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_fields.html</div><code class="html">
<p>Masked input : <span data-field="text" data-field-mask="(999) 999-9999"></span></p>
<p>Integer : <span data-field="int"></span></p>
<p>Double : <span data-field="double"></span></p>
<p>Percent : <span data-field="percent"></span></p>
<p>Email : <span data-field="email"></span></p>
<p>Date : <span data-field="date"></span></p>
<p>Date & time : <span data-field="datetime"></span></p>
<p>Select : 
<span data-field="select">
<select>
    <option value="js">Javascript</option>
    <option value="html">HTML</option>
    <option value="css">CSS</option>
</select>
</span>
</p>
<p>Checkbox : <span data-field="checkbox"></span></p>
<p>Toggle : <span data-field="toggle"></span></p>
<p>Upload : <span data-field="upload"></span></p>
<div>Grid :  
<div data-field="grid" style="height: 100px">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th data-field-type="double">Height</th>
        <th data-field-type="date">Date of birth</th>
        <th data-field-name="status">
            <label>Status</label>
            <script>
                //custom cell rendering
                var color= "white"
                if(record.status === "hello_done"){
                    color= "green" ;
                }else if(record.status === "hello_todo"){
                    color= "red" ;
                }else if(record.status === "hello_missed"){
                    color= "grey" ;
                }
                return '<span style="color: '+color+'">'+record.status+"</span>" ;
            </script>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bob</td>
            <td>1.82</td>
            <td>1973-02-23</td>
            <td>hello_done</td>
        </tr>
        <tr>
            <td>Alice</td>
            <td>1.69</td>
            <td>1979-08-12</td>
            <td>hello_todo</td>
        </tr>
        <tr>
            <td>John</td>
            <td>1.78</td>
            <td>1984-05-02</td>
            <td>hello_missed</td>
        </tr>
    </tbody>
</table>
</div>
</div>
<div>PDF :
    <div style="width: 100%; height: 100px" data-field="pdf" data-field-pdfurl="pdf/Edgar+Allan+Poe+-+The+Murders+in+the+Rue+Morgue.pdf"></div>
</div>
    </code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_fields", //name of the HTML view file
    {container: "example_hello_fields"} 
    ) ;
    view.open() ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_fields">
            </div>
        </div>
    </div>

<p>Generate field automatically is great but we loose the hability to customize look and feel of generated field</p>
<p>To address this issue, you can use decorator to customize the generated fields</p>
<p>Here is an example to apply bootstrap classes on fields</p>

<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_fields_deco.html</div><code class="html">
<p>Masked input : <span data-field="text" data-field-mask="(999) 999-9999"></span></p>
<p>Select : 
<span data-field="select">
<select>
    <option value="js">Javascript</option>
    <option value="html">HTML</option>
    <option value="css">CSS</option>
</select>
</span>
</p>
    </code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">
VeloxWebView.fields.addDecorator(function bootstrap3decorator(element, fieldType){
    if(fieldType === "select"){
        //for select, just add form-group class
        element.classList.add("form-group") ;
        return ;
    }
    if(fieldType === "upload" || fieldType === "pdf"){
        return; //do nothing on upload and pdf fields
    }
    var input = element.getElementsByTagName("input")[0] ;
    if(input){
        //add boostrap form input control classes
        if(input.type === "checkbox"){
            element.className += " checkbox" ;
        }else{
            element.className += " form-group" ;
            input.className += " form-control" ;
        }
    }else{
        //by default add the form-group class
        element.className += " form-group" ;
    }

}) ;
var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_fields_deco", //name of the HTML view file
    {container: "example_hello_fields_deco"} 
) ;
view.open() ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_fields_deco">
            </div>
        </div>
    </div>

<h3 data-anchor="schema">Field schema extension</h3>
<p>On application that use a lot of fields, it is handy to define all fields at one place and then be sure to reuse exactly the same field on all screen</p>
<p>No more worry to check all HTML files when you decided to change the max length of a text field</p>

<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_schema.html</div><code class="html">
<script>
view.EL.grid.addEventListener("select", function(ev){
    view.getBoundObject().currentPerson = ev.record ;
    view.render() ;
}) ;
view.EL.name.addEventListener("keyup", function(ev){
    view.updateData();
    view.render() ;
}) ;
view.EL.status.addEventListener("change", function(ev){
    //if rendering ignore, it is not a change from user
    if(view.rendering){ return; }
    view.updateData();
    view.render() ;
}) ;
</script>

<div data-field-def="person.name" 
    data-bind="currentPerson.name" 
    id="name"></div>
<div data-field-def="person.status" 
    data-bind="currentPerson.status" 
    id="status"></div>
<div data-field-def="person.grid" 
    style="height: 100px" 
    data-bind="persons" 
    id="grid"></div>
    </code></pre>
    
<pre data-dont-process><div class="code-legend">locales/en-US.json</div><code class="javascript">
{
    "fields": {
        "person": {
            "name": "Name",
            "status": "Status"
        },
        "values" : {
            "person": {
                "status": {
                    "hello_todo": "Must say hello",
                    "hello_done": "Said hello",
                    "hello_missed": "Missed"
                }
            }
        }
    }
}
</code></pre>
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">
var schema = {
    person : {
        columns: [
            {name: "name", type: "text", size: 10},
            {name: "status", type:"select", values: 
                ["hello_todo", "hello_done", "hello_missed"]}
        ]
    }
}
VeloxWebView.fieldsSchema.configure({
    schema: schema,
    //automatically add label to fields
    addLabelToFields : true
}) ;
                
var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_schema", //name of the HTML view file
    {container: "example_hello_schema"} 
) ;
view.open() ;
    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_schema">
            </div>
        </div>
    </div>

<h3 data-anchor="extension">Create extension</h3>
<p>We just seen some officials extensions but it is also quite easy to create your custom extension</p>
<p>This example show you a simple extension that give you a small stars widget using <a href="http://fontawesome.io/">FontAwesome</a> icons</p>

<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <pre data-dont-process><div class="code-legend">examples/hello_stars.html</div><code class="html">
<div data-stars="3"></div>
<div data-stars="5"></div>
<div data-stars="1"></div>
<div data-stars="0"></div>
    </code></pre>
    
            <pre data-dont-process><div class="code-legend">javascript</div><code class="javascript">
VeloxWebView.registerExtension({
name:"stars",
init: function(){
    //this function is called on the
    //view object so "this" is the view
    var view = this ;
    view.elementsHavingAttribute("data-stars")
        .forEach(function(el){

        var starsNumber = parseInt(
            el.getAttribute("data-stars"), 10) ;
        var stars = [] ;
        for(var i=0; i < 5; i++){
            if(i < starsNumber){

                stars.push(
                    '<i class="fa fa-star"></i>') ;

            }else{

                stars.push(
                    '<i class="fa fa-star-o"></i>') ;

            }
        }
        el.innerHTML = stars.join(" ") ;
    }) ;
}
}) ;

var view = new VeloxWebView(
    "examples", //folder in which the HTML view file is located
    "hello_stars", //name of the HTML view file
    {container: "example_hello_stars"} 
) ;
view.open() ;

    </code></pre>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="example-result" id="example_hello_stars">
            </div>
        </div>
    </div>

<h3 data-anchor="real">Real world usage</h3>
<p>This website use the view system !</p>
