#header .navbar {
    margin-bottom: 0
}

.header {
    background: #f7f4f3;
    color: #58595b;
    padding: 40px;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}


.branding,
.slogan {
    text-align: center;
    font-family: butlerregular;
    font-size: 48pt;
}

.brandJS {
    color: #fc3927 ;
    font-family: butlerblack;
}

.slogan {
    font-size: 26pt;
    font-family: butlerlight;
}

.branding a:hover {
    text-decoration: none
}